{% extends 'base.html.twig' %}

{% block title %}modifier mon mot de passe{% endblock %}

{% block body %}
    <h1>Modiffier mon mot de passe</h1>
    <a href="{{ path('account') }}">retourner a mon compte</a><br/>
    <hr>
    {% if notification %}
        <div class="alert alert-dark">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>


{% endblock %}
